* {
font-family: sans-serif;
box-sizing: border-box;
background-color: black;
margin: 0;
padding: 0;
font-size: 20px;
font-weight: normal;
color: white;
}

body {
    height: 100%;
}

a {
display: block;
text-decoration: none;
align-items: center;
text-align: center;
}

h1 {
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 400px;
    padding-right: 400px;
    display: block;
    text-align: center;
}

button {

    display: block;
    align-items: center;
    text-align: center;
}

ul {
    border: solid blue;
    padding: 10px;
    box-shadow: 2px 4px pink;
}

ul:hover {
    cursor: pointer;
}

ul a {
    border: solid red;
    padding: 10px;
    box-shadow: 2px 4px pink;
}

ul a:hover{
    cursor: pointer;
}

p {
    border: solid red;
    text-align: center;
    padding: auto;
}

header section {
    text-align: right;
    padding-right: 15px;
    font-size: 25px;
}

footer {
    text-align: center;
    justify-content: center;
    display: block;
    padding-top: 500px;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

#timer {
    padding-right: 20px;
}

/* @media only screen and (min-width: 992px) {
    body {
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        width: 30%;
   }
} */